{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Créer un compte</title>
    <link rel="stylesheet" href="{% static 'css/main.css'%}">

</head>

<body>
    <div class="container-head">
        <header>
            <img src="{% static 'img/Logo.svg'%}" alt="logo" class="logo">
            <nav>
                <a href="#" class="hide-desktop">
                    <img src="{% static 'img/ham.png'%}" alt="toggle menu" class="menu" id="menu">
                </a>
                <ul class="show-desktop hide-mobile" id="nav">
                    <li id="exit" class="exit-btn hide-desktop"><img src="{% static 'img/exit.svg'%}" alt="exit menu"></li>
                    <li><a href="/" class="headerbttn">Acceuil</a></li>
                    <li><a href="/services/" class="headerbttn">Services</a></li>
                    <li><a href="/contact/" class="headerbttn">Contact</a></li>
                    <li><a href="/about/" class="headerbttn">A propos</a></li>

                </ul>
            </nav>
        </header>
    </div>
    <div class="white"><h1> </h1>   </div>
    <div class="form-style-8">
        <h2>Se connecter</h2>
        <form action="login" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Nom d'utilisateur""><br>
            <input type="password" name="password" placeholder="Mot de pass""><br>
            <input type="Submit" value="Connexion" >
        </form>
        <div>
            {% for message in messages %}
            <h3> {{message}} </h3>
            {% endfor %}
        </div>
    </div>
    <div class="orangelog"><h1> </h1>   </div>

    <div>
        {% for message in messages %}
        <h3> {{message}} </h3>
        {% endfor %}
    </div>

    <footer>
        <div class="footer-container">
            <a href="#"><img src="{% static 'img/Logo.svg'%}" class="logofooter" alt="logo"></a>
            <p class="adress">Bab Ezzouar, 16000<br>DZ</p>
            <ul class="footer-links">
                <li><a href="#">Conditions de Services</a></li>
                <li><a href="#">Politique de confidentialité</a></li>
            </ul>
        </div>
    </footer>  
</body>
</html>